body {
    /** max-width: 2300px; */
     width: 100%;
     margin: auto;
     height: 100%;
     position:inherit;
     background-color: rgba(165, 160, 165, 0.622);
     -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
   }
   
   .button-1 {
     all: unset;
     background: #7a767e;
     border-radius: 9px;
     font-weight: 800;
     font-size: 200%;
     line-height: 19px;
     padding: 22px 55px;
     justify-content: space-between;
     margin: 10%;
     color: #ffffff;
     text-decoration: none;
     margin-top: 20%;
     margin-left: 110%;


   }
   
   .button-1:hover {
    background-color: #392c37;
   }

   a {
    text-decoration: none;
    color: #ffffff;
   }
   
   .main {
     max-width: 500px;
   }
    
   main {
     max-width: 715px;
     max-height: 240px;
     width: 40%;
     height: 90%;
   }

   .script {
    background-color: cornflowerblue;
   }